<nav class="navbar">
    <a href="/new" class="pcView"><button class="add">Add Message</button></a>
    <a href="/new" class="mobileView"><button class="addMobile">+</button></a>
    <a href="/"><div class="appName"><span class="mini">Mini</span><br>Message Board</div></a>
    <div class="name">By <br><a class="nameLink" href="https://github.com/Orion-Barjamaj" target="_blank">Orion Barjamaj</a></div>
</nav>